{% extends "account/base.html" %}
{% load staticfiles %}
{% load account socialaccount %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<!-- header area start -->

<div class="container">
<div class="row" style="margin-top: 50px; margin-bottom:100px;">
<div class="col-sm-4 offset-4">
<h1>{% trans "Sign Out" %}</h1><br/>

<p>{% trans 'Are you sure you want to sign out?' %}</p><br/><br/>

<form method="post" action="{% url 'account_logout' %}">
   <div class="farm-contact-form">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <div class="single-submit">
    <input type="submit" class="btn btn-danger" id="submit" value="Sign Out">
    </div>
   </div>
</form>
</div>
</div>
</div>


{% endblock %}