{% extends "base.html" %}

{% load static %}
{% block content %}


<div class="container">
    <div class="row" style="margin-top: 50px; margin-bottom:50px;">
		<div class="col-sm-6 col-sm-offset-3">
        <h3>Change Password</h3>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="action" class="button mid dark">Change Password</button>
        </form>
    </div>
</div>




{% endblock %}











