{% extends "base.html" %}
{% load static %}

{% block content %}
<
<div class="container">
    <div class="row" style="margin-top: 50px; margin-bottom:50px;">
		<div class="col-sm-6 col-sm-offset-3">
			<h2>Password Reset</h2>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
         <p>We have sent you an e-mail. Please  <a href="{% url 'contact' %}"><b>contact us</b></a> if you do not receive it within a few minutes.</p>
		</div>
	</div>
</div>



{% endblock %}