 @page { size: A3;
         margin: 1cm;
        }

.form-class{
    margin-top:30px;
    margin-bottom:30px;
}
.wrap{
    padding: 0px;
}
.fab-report{
    padding:30px;
}
.employees{
    margin-top:25px;
    margin-bottom:30px;
    padding-left:20px;
    margin-right:20px;

}
.emp-list > tr > td{
    padding:10px;
    padding-left:50px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding:10px;
    padding-left:10px;
    text-transform: uppercase;

}