.fab-report{
    height: 600px;
}
.badge {
    display: inline-block;
    min-width: 160px;
    padding: 15px 15px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #fff;
    border-radius: 0px;
}
 @page { size: A3;
         margin: 1cm;
        }

.form-class{
    margin-top:30px;
    margin-bottom:30px;
}
.contact-wrap{
    padding: 20px;
}
.read-wrap{
    padding: 40px;
}
.fab-report{
    padding:30px;
}
.employees{
    margin-top:25px;
    margin-bottom:30px;
    padding:30px;
    margin-right:20px;

}
.emp-list > tr > td{
    padding:10px;
    padding-left:50px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding:10px;
    padding-left:10px;
    text-transform: uppercase;

}