.navbar-right {
    text-transform: uppercase;
    padding-top:12px;
}
.navbar-default {
    background-color: #138d84;
    border-color: #1a1616;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}