{% extends 'base.html' %}

{% block content %}

<div class="container dataContainer">
    <div class="row department">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'iso_list' %}">ISO List</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'spool_list' %}">SPOOL List</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'daily_fab_report' %}">Daily Fab Report</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row department">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'daily_joint_report' %}">Joint History</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'daily_joint_report' %}">Joint History</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
