{% extends 'base.html' %}

{% block content %}
<div class="container dataContainer">
     <h5 class="pt-2 pb-2">REPORTS</h5>
     <div class="row department">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'production_report' %}">Production Report</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'production_summary' %}">Production Summary</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'daily_weld_report' %}">Daily Weld Report</a>
                    </h5>
                </div>
            </div>
        </div>
     </div>  
     <div class="row department">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'perform_report' %}">Performance Report</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'qc_report' %}">QC Report</a>
                    </h5>
                </div>
            </div>
        </div>
     </div> 

      <div class="row department">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'project_iso_report' %}">Iso List</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'spool_report' %}">Spool List</a>
                    </h5>
                </div>
            </div>
        </div>
     </div> 
</div>
{% endblock %}