{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container contact-wrap">
  <div class="col-sm-6 col-sm-offset-3">

    <form method='POST' action='' enctype='multipart/form-data' role="form" id="contact-form">{% csrf_token %}
      <div class="contact-form">

        {{ form.email| as_crispy_field }}

        {{ form.phone_number| as_crispy_field }}

        {{ form.full_name| as_crispy_field }}

        {{ form.message| as_crispy_field }}

      <div class="single-submit">
          <input type="submit" class="btn btn-primary" value="Send Message">
      </div>
      </div>
    </form>

  </div>

</div>

{% endblock %}