{% extends 'base.html' %}

{% block content %}

<div class="container dataContainer">
    <a href="{% url 'add_iso' %}" class="btn btn-primary">Add Iso</a><br/><br/>
    <a href="{% url 'add_pipe' %}" class="btn btn-primary">Add Pipe</a><br/><br/>
    <a href="{% url 'add_flange' %}" class="btn btn-primary">Add Flange</a><br/><br/>
    <a href="{% url 'add_fitting' %}" class="btn btn-primary">Add Fittings</a><br/><br/>
    <a href="{% url 'add_bolt' %}" class="btn btn-primary">Add Bolts/Nuts</a><br/><br/>
    <a href="{% url 'add_gasket' %}" class="btn btn-primary">Add Gasket</a><br/><br/>
    <a href="{% url 'add_spool' %}" class="btn btn-primary">Add Spool</a><br/><br/>
    <a href="{% url 'joint_add' %}" class="btn btn-primary">Add Joints</a><br/><br/>
    <a href="{% url 'qc_add' %}" class="btn btn-primary">QC Update</a><br/><br/>
    <a href="{% url 'joint_add' %}" class="btn btn-primary">Add Joints</a><br/><br/>
    <a href="{% url 'iso_list' %}" class="btn btn-primary">Iso List</a><br/><br/>
    <a href="{% url 'spool_list' %}" class="btn btn-primary">Spool List</a><br/><br/>
    <a href="{% url 'mat_list' %}" class="btn btn-primary">Material List</a><br/><br/>
</div>

{% endblock %}