{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}


<div class="container wrap">
		<section id="services" class="service">
        <h3 class="text_center">FAQ</h3>

            <h4>
                How to add your postings?
            </h4>
            <p>
              Please register with us first and add your postings like a car you want to sell or
              add a show room you want to publish with us.
            </p>
            <h4>
                How to buy an item or service?
            </h4>
            <p>
              Use the corresponding links or search and find your service or car and contact the seller
              directly.
            </p>

        </section>
</div>

{% endblock %}