{% extends 'base.html' %}


{% block content %}


<div class="container read-wrap">
    <section id="services" class="service">

        <h4>
            Please follow strictly the following instructions for initial configuration of the application.
        </h4>
        <p style="text-align:justify">
            1) Register to the site using username, email and password.<br/>
            2) Login with above username and password( by default you are the admin of the application).<br/>
            3) From the admin drop down, click on add users.<br/>
            4) Create seven users, using seperate username and password (Note down the username and password
            for future use, creating users is a one time action, so take extreme care and make sure that you
            have created seven users).<br/>
            5) Again from the admin dropdown, click on the link Assign Department Heads.<br/>
            6) Select the users you have created in step 4 and assign them the ownership of each departments.<br/>
            7) Now your department heads can login to the system and perform their jobs using the drop down
            link provided under their department names.<br/>
            8) Each department head can see or perform their jobs, admin and construction head can see the relevent
            reports.<br/>
        </p>


    </section>
</div>

{% endblock %}