{% extends 'base.html' %}

{% block content %}

<div class="container dataContainer">
    <h5 class="pt-2 pb-2">ADD QC DATA</h5>
     <div class="row department">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'qc_add' %}">Fitup Inspection</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'qc_joint_list' %}">Update other NDT</a>
                    </h5>
                </div>
            </div>
        </div>
     </div>
     <h5 class="pt-2 pb-2">REPORTS</h5>
      <div class="row department">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'project_iso_report' %}">Iso List</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'spool_list' %}">Spool List</a>
                    </h5>
                </div>
            </div>
        </div>
     </div>    
    <div class="row department">
        <div class="col-sm-4">
            <div class="card">
            <a data-toggle="modal" data-target="#myModal" style="padding:20px;">
                    <span data-feather="info"></span> Instructiions</a>
                    <div id="myModal" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">Instructions</h4>
                          </div>
                          <div class="modal-body">
                          <ul>
                              <li><span data-feather="arrow-down-right"></span> Select required isometric from the dropdown or type the initial letters of the isometric for faster retrieval</li>
                              <li><span data-feather="arrow-down-right"></span> Select corresponding joints from the dropdown menu</li>
                              <li><span data-feather="arrow-down-right"></span> Add status of Inspection against each isometric joints</li>
                              <li><span data-feather="arrow-down-right"></span> for further updation of the same joint use the update link and select the required iso and joint.</li>
                          </ul>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                 </div>
          </div>
     </div>
</div>

{% endblock %}