{% extends 'base.html' %}


{% block content %}


<div class="container read-wrap">
    <section id="services" class="service">

        <h4>
            What PMAPP website does for you.
        </h4>
        <p style="text-align:justify">
            1) The application can be used as a daily reporting tool for all the departments of project construction<br/>
            2) Program stores the report in its database and display the necessary reports to concerned Head of Departments<br/>
            3) Easy to update the report on daily basis or scheduled intervels<br/>
            4) Progress and status of work as well as materials will be readily available at all times<br/>
            5) Pages can be printed in pdf or stored in excel formats<br/>
            6) Data is secured and backed up on daily basis<br/>
            7) Performance of employees can be seen<br/>
            8) Charts are available to see and evaluate the project performance<br/>
        </p>


    </section>
</div>

{% endblock %}