{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container form-class">
    <h3 class="text-center">{{ heading }}</h3>
    <div class="row">
        <div class="col-sm-6 offset-3">
            <form method="POST">{% csrf_token %}
                {{ form.iso_no| as_crispy_field }}
                {{ form.pefs| as_crispy_field }}
                <p><a href="{% url 'add_pefs' %}">Couldn't find PEFS/ P&ID? Add new</a></p>
                {{ form.service| as_crispy_field }}
                <p><a href="{% url 'add_service' %}">Couldn't find a Service? Add new</a></p>
                {{ form.line_class| as_crispy_field }}
                <p><a href="{% url 'add_line_class' %}">Couldn't find a Line Class? Add new</a></p>
                {{ form.is_approved| as_crispy_field }}
                <input type="submit" class="btn btn-success" value="Save">
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block custom_js %}
{{ form.media }}
{% endblock %}