{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block head_title %}{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <a href="{% url 'main_list' %}" class="btn btn-info btn-block">Materials</a>
            <a href="{% url 'daily_fab_report' %}" class="btn btn-info btn-block">Daily Fab Report</a>
            <a href="{% url 'daily_joint_report' %}" class="btn btn-info btn-block">Joint History</a>
            <a href="{% url 'perform_report' %}" class="btn btn-info btn-block">Employee Performance</a>
        </div>
    </div>
</div>
{% endblock %}