{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block head_title %}{% endblock %}


{% block content %}

<div class="container fab-report">
    <div class="row">
        <div class="col-sm-12">
         <div class="table-responsive">
             <h3>Joint Report</h3>
                  <table class="table table-bordered">
                      <tr>
                      <th>ISO NO./ LINE NO.</th>
                      <th>Joint No.</th>
                      <th>Size</th>
                      <th>Schedule</th>

                      <th>Welder Name</th>
                      <th>Fabricator Name</th>
                      <th>Crew Strength</th>
                      <th>Time taken</th>
                      <th>Man Hours Taken</th>
                      <th>Date</th>

                      </tr>
                      {% for item in report %}
                        <td><h5>{{ item.iso_no }}</h5></td>
                      <tr>
                          {% for joint in item.joint_set.all %}
                          <td>{{ forloop.counter }}</td>
                          <td>{{ joint.joint_no }}</td>
                          <td>{{ joint.size }}</td>
                          <td>{{ joint.sch }}</td>

                          <td>{{ joint.welder|title }}</td>
                          <td>{{ joint.fabricator|title }}</td>
                          <td>{{ joint.crew_members }}</td>
                          <td>{{ joint.hours_worked }} hrs</td>
                          <td>{{ joint.man_hours|floatformat:2 }}</td>
                          <td>{{ joint.date_completed }}</td>
                      </tr>
                      {% endfor %}{% endfor %}
                  </table>
        </div>
        </div>
        <div class="col-sm-12">
         <div class="table-responsive">
             <h3>Summary Report</h3>
                  <table class="table table-bordered">
                      <tr>
                      <th>Project</th>
                      <th>Total Joints</th>
                      <th>Average Manhours Per Inch</th>
                      <th>Total Inch Dia</th>

                      <!--<th>Welder Name</th>-->
                      <!--<th>Fabricator Name</th>-->
                      <!--<th>Time taken</th>-->
                      <!--<th>Date</th>-->

                      </tr>


                      <tr>
                          {% for item in sum_list %}
                          <td><h5>{{ item.project__name|title }}</h5></td>

                          <td>{{ item.total_joint }}</td>
                          <td>{{ item.avg_man_hours|floatformat:2 }}</td>
                          <td>{{ item.total_inch_dia }}</td>

                          <!--<td>{{ joint.welder|title }}</td>-->
                          <!--<td>{{ joint.fabricator|title }}</td>-->
                          <!--<td>{{ joint.hours_worked }} hrs</td>-->
                          <!--<td>{{ joint.date_completed }}</td>-->
                      </tr>
                      {% endfor %}
                  </table>
        </div>
        </div>
    </div>

</div>
{% endblock %}