{% extends 'base.html' %}
{% load static %}



{% block content %}

<div class="container fab-report">
    <div class="row">
        <div class="table-responsive">
             <h3>Fabrication Report based on Date</h3>
              <table class="table table-bordered">
                  <tr>
                      <th>Sl.No</th>
                      <th>DATE</th>
                      <th>Completed Inch Dia</th>
                  </tr>

                  {% for item in date_report %}
                  <tr>

                      <td>{{ forloop.counter }}</td>
                      <td><h5>{{ item.joint__date_completed }}</h5></td>
                      <td>{{ item.completed_inch_dia }}</td>
                  </tr>
                  {% endfor %}
              </table>
        </div>
        <a href="{% url 'iso_pdf_list' %}" class="btn btn-info">Print to PDF</a>
        <a href="{% url 'iso_csv' %}" class="btn btn-info ml-auto">Save to EXEL</a>

    </div>
</div>
{% endblock %}