{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block head_title %}{% endblock %}


{% block content %}
<div class="container">
<div class="row">

     <div class="table-responsive">
         <h3>ISO Based Material List ({{ department }})</h3>
              <table class="table table-bordered">
                  <tr>
                      <th>ISO NO./ LINE NO.</th>
                      <th>Material</th>
                      <th>Size</th>
                      <th>Quantiy</th>
                      <th>Unit</th>
                  </tr>
                {% for iso in mat_list %}
                  <tr>
                  <td><h5>{{ iso.iso_no }}</h5></td>
                  </tr>
                  {% for mat in iso.materialdata_set.all %}
                 <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ mat.name }}</td>
                      <td>{{ mat.size }}"</td>
                      <td>{{ mat.quantity }}</td>
                      <td>{{ mat.unit }}</td>
                  </tr>
                {% endfor %}{% endfor %}
              </table>

    </div>

</div>
<div class="row">

     <div class="table-responsive">
         <h3>Material Summary</h3>
              <table class="table table-bordered">
                  <tr>
                  <th>Sl.No</th>
                  <th>Material</th>
                  <th>Size</th>
                  <th>Total Quantity</th>
                  <th>Unit</th>

                  </tr>
                  {% for item in sum_list %}
                  <tr>
                      <td>{{ forloop.counter }}</td>
                      <td><a href="{% url 'home' %}">{{ item.name }}</a></td>
                      <td>{{ item.size }}"</td>
                      <td>{{ item.total_quantity }}</td>
                      <td>{{ item.unit }}</td>
                  </tr>
                  {% endfor %}
              </table>

    </div>


</div>
</div>



{% endblock %}