{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row" style="margin-top:15px;">
		<form class="search-form">
			<input type="text" class="form-control" id="search-iso" placeholder="Search Iso" name="q" value="{{ request.GET.q }}">
		</form>
	</div>
    <div class="row">
         <div class="table-responsive">
             <h3 style="margin-bottom:15px;">Iso List</h3>
              <table class="table table-bordered emp-list">
                  <tr>
                      <th>Sl.No</th>
                      <th>Iso No</th>
                      <th>Service</th>
                      <th>Line Class</th>
                  </tr>
                  {% for iso in object_list %}
                  <tr>
                      <td>{{ forloop.counter }}</td>
                      <td><a href="{{ iso.get_absolute_url }}">{{ iso.iso_no }}</a></td>
                      <td>{{ iso.service.name }}</td>
                      <td>{{ iso.line_class.name }}</td>
                  </tr>

                  {% endfor %}
              </table>
        </div>
    </div>

</div>
{% endblock %}