{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container employees">
<div class="row">

     <div class="table-responsive">
         <h3 style="margin-bottom:15px;">User List</h3>
              <table class="table table-bordered emp-list">
                  <tr>
                      <th>Username</th>
                      <th>Edit</th>
                  </tr>
                  {% for user in object_list %}
                  <tr>
                      <td>{{ user.username }}</td>
                      <td><a href="{% url 'edit_user' user.pk %}">Edit</a></td>
                  </tr>
                  {% endfor %}
              </table>

    </div>
</div>
</div>


{% endblock %}