{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Always force latest IE rendering engine or request Chrome Frame -->
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
        <!-- Meta Description -->
        <meta name="description" content="">
        <!-- Meta Keyword -->
        <meta name="keywords" content="">
        <!-- meta character set -->
        <meta charset="utf-8">

        <!-- Site Title -->
        <title>Project Management Application </title>

		<!--<link rel="shortcut icon" href="{% static 'img/icons/favicon.png' %}">-->



        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'icon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'icon/safari-pinned-tab.svg" color="#5bbad5' %}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">



        <!--
        Google Fonts
        ============================================= -->

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,700italic,300italic">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300,700">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arvo:400,700">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Dosis:800,700">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Great+Vibes">


        <!--
        CSS
        ============================================= -->
        <link type="text/css" rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'js/vendor/owl.carousel.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/lightbox.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/icomoon.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/flaticon.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/supersized.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-timepicker.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/animate.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/multiscroll.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/selectize.default.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/jquery.fullPage.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/bbpress.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/bbp-theme.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/buddypress.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/buddypress-theme.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'syntax-highlighter/scripts/prettify.min.css' %}">
        <!-- Shortcodes main stylesheet -->
        <link type="text/css" rel="stylesheet" href="{% static 'shortcodes/css/prettyPhoto.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'shortcodes/css/eislideshow.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'shortcodes/css/nivo-slider.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'shortcodes/css/liteaccordion.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'shortcodes/css/flexslider.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'shortcodes/css/iconmoon.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'shortcodes/css/slicebox.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'shortcodes/css/camera.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'shortcodes/css/main.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'shortcodes/css/media-queries.css' %}">
        <!-- Main Stylesheet -->
        <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/custom.css' %}">
        <!-- CSS media queries -->
        <link type="text/css" rel="stylesheet" href="{% static 'css/media-queries.css' %}">
        <link id="themeColorChangeLink" type="text/css" rel="stylesheet" href="{% static 'css/colors/c0.css' %}">
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body class="bordered">

        <!-- Preloader Two -->
        <div id="preloader">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>

        <div id="wrapper" class="main-wrapper">
        <!--
        Navigation
        ==================================== -->
        <header id="head" class="navbar-default sticky-header header5">
            <div class="top-head">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
                            <a href="/" class="logo">
                                <img src="{% static 'img/icons/logo.png' %}" alt="Pmapp">
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                            <form class="top-search">
                                <div class="search-filed">
                                    <input type="text" class="form-control" placeholder="Search here">
                                    <button type="submit" class="search-submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="mega-menu-wrapper no-beaf nav22 clear">
                    <div class="navbar-header">
                        <!-- responsive nav button -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- /responsive nav button -->
                    </div>
                    <!-- main nav -->
                    <nav class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="current mega-menu">
                                <a href="/">Home</a>

                            </li>
                            <li>
                                <a href="#">Admin</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="{% url 'add_user' %}">Add Users</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'add_owner' %}">Assign Department Heads</a>
                                    </li>
                                    <li>
                                        <a href="#">Reports</a>
                                        <ul>
                                            <li><a href="{% url 'daily_fab_report' %}">Daily Fab Report</a></li>
                                            <li><a href="{% url 'daily_joint_report' %}">Joint History</a></li>
                                            <li><a href="{% url 'perform_report' %}">Performance Report</a></li>
                                            <li><a href="{% url 'main_list' %}">Material Data</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="#">Const-Head</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="{% url 'add_project' %}">Add Project</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'add_user' %}">Add Users</a>
                                    </li>
                                    <ul>
                                        <li>
                                            <a href="{% url 'main_list' %}">Materials</a>
                                        </li>
                                    </ul>
                                    <li>
                                        <a href="#">Reports</a>
                                        <ul>
                                            <li><a href="{% url 'daily_fab_report' %}">Daily Fab Report</a></li>
                                            <li><a href="{% url 'daily_joint_report' %}">Joint History</a></li>
                                            <li><a href="{% url 'perform_report' %}">Performance Report</a></li>

                                        </ul>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="#">HR</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">Employees</a>
                                        <ul>
                                            <li><a href="{% url 'employee_list' %}">Employees List</a></li>
                                            <li><a href="{% url 'engineer_list' %}">Engineers List</a></li>
                                            <li><a href="{% url 'supervisor_list' %}">Supervisors List</a></li>
                                            <li><a href="{% url 'welder_list' %}">Welders List</a></li>
                                            <li><a href="{% url 'fabricator_list' %}">Fabricators List</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Add/ Edit Employees</a>
                                        <ul>
                                            <li><a href="{% url 'add_employee' %}">Add Employee</a></li>
                                            <li><a href="{% url 'add_engineer' %}">Add Engineers</a></li>
                                            <li><a href="{% url 'add_supervisor' %}">Add Supervisor</a></li>
                                            <li><a href="{% url 'add_welder' %}">Add Welders</a></li>
                                            <li><a href="{% url 'add_fabricator' %}">Add Fabricator</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Design</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">Iso</a>
                                        <ul>
                                            <li><a href="{% url 'add_iso' %}">Add List</a></li>
                                            <li><a href="{% url 'iso_list' %}">Iso List</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Material List</a>
                                        <ul>
                                            <li><a href="{% url 'design_list' %}">Material List</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Purchase</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">Iso</a>
                                        <ul>
                                            <li><a href="{% url 'add_iso' %}">Add List</a></li>
                                            <li><a href="{% url 'iso_list' %}">Iso List</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Material List</a>
                                        <ul>
                                            <li><a href="{% url 'purchase_list' %}">Material List</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                             <li>
                                <a href="#">Stores</a>
                                 <ul class="sub-menu">
                                    <li>
                                        <a href="{% url 'store_list' %}">Material List</a>
                                    </li>

                                </ul>
                            </li>
                          <li>
                                <a href="#">Fabrication</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">Iso</a>
                                        <ul>
                                            <li><a href="{% url 'add_iso' %}">Add List</a></li>
                                            <li><a href="{% url 'iso_list' %}">Iso List</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Material List</a>
                                        <ul>
                                            <li><a href="{% url 'fab_list' %}">Material List</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">QC</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">Employees</a>
                                    </li>
                                    <li>
                                        <a href="#">Add/ Edit Employees</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" id="cont">Contact</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="{% url 'contact' %}">Contact</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                {% if not request.user.is_authenticated %}
                                <a href="#">Login</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="{% url 'account_login' %}">Login</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'account_signup' %}">Sign Up</a>
                                    </li>
                                </ul>
                                {% else %}
                                <a href="#">Logout</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="{% url 'account_logout' %}">Logout</a>
                                    </li>

                                </ul>
                                {% endif %}
                            </li>

                        </ul>
                    </nav>
                    <!-- /main nav -->
                </div>
            </div>
        </header>
        <!--
        End Navigation
        ==================================== -->
    {% block content %} {% endblock %}

<!--
footer widget
==================================== -->
<section class="footer-widget">
    <div class="container">
        <div class="row with-border">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="footer-item">
                    <img alt="Pmapp" src="{% static 'img/icons/logo.png' %}">
                    <p>
                        This application helps to manage construction projects in oil and gas industry.
                        Very effective as a reporting tool, performance evaluation tool and much more...
                    </p>
                    <a href="#">Get Started</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="footer-item contact-info">
                    <h4>contact info</h4>
                    <ul>
                        <li><i class="fa fa-building-o"></i><span>Your Company</span></li>
                        <li><i class="fa fa-map-marker"></i><span>1 Liberty St New York, NY 5006</span></li>
                        <li><i class="fa fa-phone"></i><span>410-800-900</span></li>
                        <li><i class="fa fa-envelope-o"></i><span><a href="mailto:info@yourmail.com">info@yourmail.com</a></span></li>
                        <li><i class="fa fa-globe"></i><span><a href="#" target="_blank">yoursite.com</a></span></li>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="footer-item contact-info">
                    <h4>contact info</h4>
                    <ul>
                        <li><i class="fa fa-building-o"></i><span>Your Company</span></li>
                        <li><i class="fa fa-map-marker"></i><span>1 Liberty St New York, NY 5006</span></li>
                        <li><i class="fa fa-phone"></i><span>410-800-900</span></li>
                        <li><i class="fa fa-envelope-o"></i><span><a href="mailto:info@yourmail.com">info@yourmail.com</a></span></li>
                        <li><i class="fa fa-globe"></i><span><a href="#" target="_blank">yoursite.com</a></span></li>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="footer-item contact-info">
                    <h4>contact info</h4>
                    <ul>
                        <li><i class="fa fa-building-o"></i><span>Your Company</span></li>
                        <li><i class="fa fa-map-marker"></i><span>1 Liberty St New York, NY 5006</span></li>
                        <li><i class="fa fa-phone"></i><span>410-800-900</span></li>
                        <li><i class="fa fa-envelope-o"></i><span><a href="mailto:info@yourmail.com">info@yourmail.com</a></span></li>
                        <li><i class="fa fa-globe"></i><span><a href="#" target="_blank">yoursite.com</a></span></li>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!--
End footer widget
==================================== -->

            <!--
            footer
            ==================================== -->
            <footer class="footer">
                <div class="container">
                    <p class="copyright pull-left item_left"> Copyright &copy; 2018 PMAPP . All rights reserved.</p>
                    <ul class="pull-right social-links text-center item_right">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </footer>
            <!--
            End footer
            ==================================== -->

            <!-- back to top -->
            <a href="javascript:;" id="go-top">
                <i class="fa fa-angle-up"></i>
                top
            </a>
            <!-- end #go-top -->
        </div>

        <!--
        JavaScripts
        ========================== -->
        <!-- main jQuery -->
        <script type="text/javascript" src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/jquery-1.11.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-migrate.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.appear.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.bxslider.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/owl.carousel.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.backstretch.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.nav.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lightbox.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.parallax-1.1.3.js' %}"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript" src="{% static 'js/jquery-validation.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.easing.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/form.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.isotope.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.multiscroll.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-countTo.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jflickrfeed.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.selectbox-0.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/tweetie.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.sticky.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
        <!--
        <script type="text/javascript" src="{% static 'js/okvideo.min.js' %}"></script>
        -->
        <script type="text/javascript" src="{% static 'js/bootstrap-progressbar.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.circliful.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.easypiechart.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/masonry.pkgd.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.tubular.1.0.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/kenburned.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/mediaelement-and-player.min.js' %}"></script>
        <!-- shortcode scripts -->
        <script type="text/javascript" src="{% static 'shortcodes/js/jquery.nivo.slider.pack.js' %}"></script>
        <script type="text/javascript" src="{% static 'shortcodes/js/jquery.flexslider-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'shortcodes/js/jquery.prettyPhoto.js' %}"></script>
        <script type="text/javascript" src="{% static 'shortcodes/js/jquery.slicebox.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'shortcodes/js/jquery.eislideshow.js' %}"></script>
        <script type="text/javascript" src="{% static 'shortcodes/js/camera.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'shortcodes/js/jquery.zaccordion.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'shortcodes/js/main.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.prettySocial.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.zoom.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.countdown.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.webticker.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.timepicker.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/selectize.min.js' %}"></script>
        <!-- image filter -->
        <script type="text/javascript" src="{% static 'js/img-filter/jquery.gray.min.js' %}"></script>
        <!-- // image filter -->
        <script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
        <script src="syntax-highlighter/scripts/prettify.min.js' %}"></script>
        <script type="text/javascript">$.SyntaxHighlighter.init();</script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

        {% block custom_js %}
        {% endblock %}
    </body>
</html>