{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
<title>{%block title%}{% endblock %}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<link href="https://fonts.googleapis.com/css?family=Cinzel|Cinzel+Decorative|Josefin+Slab|Poiret+One" rel="stylesheet">
<link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
<link href="{% static 'css/custom.css' %}" rel="stylesheet">


<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


</head>

<body>


{% include 'navbar.html' %}
{% block content %}




{% endblock %}

<!--footer-->
<!--<div class="footer">-->
	<!--<div class="container">-->




		<!--<div class="footer-top-at">-->
			<!--<div class="col-md-3 amet-sed">-->
				<!--<h4>Our Company</h4>-->
				<!--<ul class="nav-bottom">-->
					<!--<li><a href="#">About Us</a></li>-->
					<!--<li><a href="#" id="termsModal2">Terms & Conditions</a></li>-->
					<!--<li><a href="#" id="privacyModal2">Privacy Policy</a></li>-->


				<!--</ul>-->
			<!--</div>-->
			<!--<div class="col-md-3 amet-sed ">-->
				<!--<h4>Work With Us</h4>-->
					<!--<ul class="nav-bottom">-->
						<!--<li><a href="#">Sitemap</a></li>-->
						<!--<li><a href="#" id="careerContact2">Careers</a></li>-->
						<!--<li><a href="#" id="baseContact">Feedback</a></li>-->
					<!--</ul>-->
			<!--</div>-->
			<!--<div class="col-md-3 amet-sed">-->
				<!--<h4>Customer Support</h4>-->
					<!--<ul class="nav-bottom">-->
						<!--<li><a href="#">Live Chat</a></li>-->
						<!--<li><a href="#" id="faq">Frequently Asked Questions</a></li>-->
						<!--<li><a href="#" id="suggContact">Make a Suggestion</a></li>-->
					<!--</ul>-->
			<!--</div>-->
			<!--<div class="col-md-3 amet-sed ">-->
				<!--<h4>Contact Us</h4>-->
				   <!--<ul class="nav-bottom">-->
						<!--<li><a href="single.html" id="contact">Grievances</a></li>-->
						<!--<li><a href="{% url 'home' %}">Login</a></li>-->
						<!--<li><a href="{% url 'home' %}">Register</a></li>-->
					<!--</ul>-->

			<!--</div>-->
			<!--<br/>-->

		<!--<div class="clearfix"> </div>-->
		<!--</div>-->
	<!--</div>-->
				<!--<div class="row">-->
			<!--<div class="container" style="margin-bottom: 50px">-->
			<!--<div class="col-sm-2">-->
			 <!--<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" style="color: #fff">-->
				 <!--<i class="fa fa-facebook-square fa-4x"></i></a>-->
			<!--</div>-->
			<!--<div class="col-sm-2">-->
            <!--<a href="https://twitter.com/home?status={{ request.build_absolute_uri }}" style="color: #fff">-->
            <!--<i class="fa fa-twitter-square fa-4x"></i></a>-->
			<!--</div>-->
			<!--<div class="col-sm-2">-->
            <!--<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}" style="color: #fff">-->
            <!--<i class="fa fa-linkedin-square fa-4x"></i></a>-->
			<!--</div>-->
			<!--<div class="col-sm-2">-->
            <!--<a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}" style="color: #fff">-->
            <!--<i class="fa fa-google-plus-square  fa-4x"></i></a>-->
			<!--</div>-->
			<!--<div class="col-sm-2">-->
            <!--<a data-pin-do="buttonBookmark" href="//www.pinterest.com/pin/create/button" style="color: #fff">-->
                <!--<i class="fa fa-pinterest-square fa-4x"></i></a>-->
			<!--</div>-->
			<!--<div class="col-sm-2">-->
            <!--<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}" style="color: #fff">-->
             <!--<i class="fa fa-reddit-square  fa-4x"></i></a>-->
			<!--</div>-->
				<!--<div class="clearfix"> </div>-->
			<!--</div>-->
			<!--</div>-->

	<!--<div class="footer-bottom">-->
		<!--<div class="container">-->
			<!--<div class="col-md-4 footer-class" style="text-align: left">-->
				<!--<p><a href="{% url 'home' %}" class="hvr-sweep-to-right more">FABRICATOR</a></p>-->
			<!--</div>-->
			<!--<div class="col-md-8 footer-class">-->
				<!--<p>-->
					<!--<a href="#" id="footerModal" class="hvr-sweep-to-right more">© 2017 Fabricator.-->
						<!--All Rights Reserved | Designed byArunima Web Designs</a></p>-->
			<!--</div>-->

		<!--<div class="clearfix"> </div>-->
	 	<!--</div>-->
	<!--</div>-->
<!--</div>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!--<script src="{% static 'js/jquery.min.js' %}"></script>-->
<!--<script src="{% static 'js/bootstrap.min.js' %}"></script>-->
<!--<script src="{% static 'js/bootstrap.js' %}"></script>-->
<!--<script src="{% static 'js/scripts.js' %}"></script>-->
<!--<script src="{% static 'js/js.cookie.js' %}"></script>-->
<!--<script src="{% static 'js/custom.js' %}"></script>-->
<!--&lt;!&ndash; slide &ndash;&gt;-->
<!--<script src="{% static 'js/responsiveslides.min.js' %}"></script>-->
<!--<script src="{% static 'js/jquery.magnific-popup.js' %}" type="text/javascript"></script>-->



</body>
</html>