{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!--
            Home Banner
            ==================================== -->
            <div id="start" class="home26">
                <div class="slide26 wedding">
                    <div class="item" style="background-image: url(static/img/industry/piping1.jpg);">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="item-inner">
                                <h1>We Are Professional, Competitive And</h1>
                                <h2>Competent In Our Service</h2>
                                <div class="slide-button">
                                    <a href="{% url 'account_signup' %}">Make a Trial</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(static/img/industry/slider-head1.jpg);">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="item-inner">
                                <h1>We Have a Team Of Leaders And Professionals</h1>
                                <h2>That Know Their Job And Do It Well</h2>
                                <div class="slide-button">
                                    <a href="{% url 'account_signup' %}">Make a Trial</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            End Home Banner
            ==================================== -->

            <!--
            Services
            ==================================== -->
            <section id="service" class="">
                <div class="container">
                    <div class="row">
                        <header class="col-lg-12 section-head text-center item_top">
                            <h2>what we are doing</h2>
                            <p>We are always passionate on new idea generation and development</p>
                        </header>

                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-4 text-center item_left">
                                    <div class="service-item">
                                        <span class="service-icon">
                                            <i class="icon-pen4"></i>
                                        </span>
                                        <h4><a href="service-single.php">Project Management</a></h4>
                                        <p>Management and control over the project effectively.</p>
                                    </div>
                                </div> <!-- end .service-item -->

                                <div class="col-xs-12 col-sm-4 col-md-4 text-center item_bottom">
                                    <div class="service-item">
                                        <span class="service-icon">
                                            <i class="icon-cog5"></i>
                                        </span>
                                        <h4><a href="service-single.php">Resource Allocation</a></h4>
                                        <p>Efficient and effective resource allocation and co-ordination.</p>
                                    </div>
                                </div> <!-- end .service-item -->

                                <div class="col-xs-12 col-sm-4 col-md-4 text-center item_right">
                                    <div class="service-item">
                                        <span class="service-icon">
                                             <i class="icon-light"></i>
                                        </span>
                                        <h4><a href="service-single.php">Performance Evaluation</a></h4>
                                        <p>Precise monitoring, evaluation of entire project and graphs.</p>
                                    </div>
                                </div> <!-- end .service-item -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--
            End Services
            ==================================== -->

            <section class="pt0">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                            <article class="post-entry">
                                <div class="post-media">
                                    <img class="img-responsive" alt="post thumb" src="{% static 'img/industry/welcome.jpg' %}">
                                </div>
                                <div class="post-excerpt">
                                    <h2>Welcome to PMAPP</h2>
                                    <p>
                                        PMAPP is developed to manage prject jobs in oil and gas industry. This application
                                        will help to manage the projects and co-ordinate the work effectively among all the
                                        departments. Please click the link below to know more.
                                    </p>
                                    <div class="btn btn-info">
                                        <a href="{% url 'read_more' %}">Read More</a>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
                            <div class="section-head text-left item_top">
                                <h2>Our Idea</h2>
                                <p>Idea behind this application is mainly to ease the management of
                                    construction activities and get the reports with minimum user input.
                                </p>
                            </div>
                            <div class="product-carousel3">
                                <div class="service-carousel">
                                    <div class="item">
                                        <div class="product-single">
                                            <div class="product-image">
                                                <img class="img-responsive" alt="" src="{% static 'img/industry/product1.jpg' %}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-single">
                                            <div class="product-image">
                                                <img class="img-responsive" alt="" src="{% static 'img/industry/product2.jpg' %}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-single">
                                            <div class="product-image">
                                                <img class="img-responsive" alt="" src="{% static 'img/industry/product3.jpg' %}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-single">
                                            <div class="product-image">
                                                <img class="img-responsive" alt="" src="{% static 'img/industry/product2.jpg' %}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="pt0">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3 class="subtitle2">Latest News and Events</h3>
                            <div class="service-carousel">
                                {% for post in post %}
                                <div class="item">
                                    <div class="nws-item">
                                        <img src="{{ post.image.url }}" alt="" class="img-responsive">
                                        <div class="news-head">
                                            <h4><a href="#">{{ post.title }}</a></h4>
                                            <div class="post-meta">
                                                <span>{{ post.published }}</span>
                                            </div>
                                        </div>
                                        <p>{{ post.content }}</p>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>

                    </div>
                </div>
            </section>

{% endblock %}