{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="{% static 'images/logo/logo.png' %}" alt="Pmapp"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item active">-->
        <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Link</a>-->
      <!--</li>-->
      <li class="nav-item dropdown">
        {% if request.user.is_authenticated %}
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          DEPARTMENTS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'admin_page' %}">Administration</a>
          <a class="dropdown-item" href="{% url 'client' %}">Client</a>
          <a class="dropdown-item" href="#">Data Center</a>
          <a class="dropdown-item" href="#">Division Head</a>
          <a class="dropdown-item" href="#">Store</a>
          <a class="dropdown-item" href="#">Fabrication</a>
          <a class="dropdown-item" href="#">Quality Control</a>
          <a class="dropdown-item" href="#">Quantity Survey</a>
        </div>
        {% endif %}
      </li>
      <!--<li class="nav-item">-->
        <!--<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
      <!--</li>-->
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">-->
      <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    <!--</form>-->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          {% if not request.user.is_authenticated %}
              <a href="{% url 'account_login' %}">Login</a>
              <a href="{% url 'account_signup' %}" style="padding-left: 15px;">Sign Up</a>
              {% else %}
              <a href="{% url 'contact' %}">Contact</a>
              <a href="{% url 'account_logout' %}" style="padding-left: 15px;">Logout</a>
          {% endif %}
      </li>
    </ul>
  </div>
</nav>