{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block head_title %}{% endblock %}


{% block content %}
<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>

        <li ><a href="{% url 'admin_home' %}">Admin<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
        <li ><a href="{% url 'design_list' %}">Design Dept<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
        <li ><a href="{% url 'purchase_list' %}">Purchase Dept<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
        <li ><a href="{% url 'store_list' %}">Stores Dept<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
        <li ><a href="{% url 'fab_home' %}">Fabrication Dept<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
        <!--<li ><a href="#">Tags<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>-->
      </ul>
    </div>

  </div>
</nav>
<div class="contatiner" style="margin-top:80px; margin-left:80px;">
    {% if request.user.is_authenticated %}
        <a href="{% url 'add_owner' %}">Add Owners</a><br/>
        <a href="{% url 'add_user' %}">Add Users</a><br/>
        <a href="{% url 'add_project' %}">Add Project</a><br/>
        <a href="{% url 'add_iso' %}">Add Iso</a><br/>
        <a href="{% url 'add_employee' %}">Add Employee</a><br/>
        <a href="{% url 'add_welder' %}">Add Welder</a><br/>
        <a href="{% url 'add_fabricator' %}">Add Fabricator</a><br/>
        <a href="{% url 'add_supervisor' %}">Add Supervisor</a><br/>
        <a href="{% url 'add_engineer' %}">Add Engineer</a><br/>
        <a href="{% url 'employee_list' %}">Employee List</a><br/>
    {% endif %}

</div>
{% endblock %}