{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block head_title %}{% endblock %}


{% block content %}
<div class="row">
<div class="col-sm-12">

 <div class="table-boardered">
     <h3>ISO Based Material List</h3>
  <table class="table">
      <tr>
      <th>Sl.No</th>
      <th>ISO NO./ LINE NO.</th>
      <th>Material</th>
      <th>Size</th>
      <th>Reqd. Quantiy</th>
      <th>Price for each</th>
      <th>Price Paid</th>
      <th>Qty Purchased</th>
      <th>Balance To Be Purchased</th>
      <th>Edit</th>

      </tr>
      {% for item in mat_list %}
      <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ item.iso__iso_no }}</td>
          <td><a href="{% url 'detail' pk=item.pk %}">{{ item.name }}</a></td>
          <td>{{ item.size }}"</td>
          <td>{{ item.total_quantity }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.total_price }}</td>
          <td>{{ item.quantity_purchased }}</td>
          <td>{{ item.balance_purchase }}</td>
          <td><a href="{% url 'purchase_update' pk=item.pk %}">Edit</a></td>
      </tr>
      {% endfor %}
  </table>
</div>

</div>
</div>

{% endblock %}