{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<style>
{% block style %}
 @page { size: A3;
         margin: 1cm;
        }
{% endblock %}
</style>


{% block content %}

<div class="container fab-report">
    <div class="row">
         <div class="table-responsive">
             <h3>Joint Status: Total completed: {{ mat_list.total_inch_dia.inch_dia__sum }} Inch Dia</h3>
                  <table class="table table-bordered">
                      <tr>
                          <th>Sl.No</th>
                          <th>ISO NO./ LINE NO.</th>
                          <th>Joint No.</th>
                          <th>Size</th>
                          <th>Schedule</th>
                          <th>Welder</th>
                          <th>Fabricator</th>
                          <th>Supervisor</th>
                          <th>Time taken</th>
                          <th>Completed At</th>
                      </tr>
                      {% for item in mat_list %}
                      <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ item.iso.iso_no }}</td>
                          <td>{{ item.joint_no }}</td>
                          <td>{{ item.size }}</td>
                          <td>{{ item.sch }}</td>
                          <td>{{ item.welder|title }}</td>
                          <td>{{ item.fabricator|title }}</td>
                          <td>{{ item.supervisor|title }}</td>
                          <td>{{ item.hours_worked }} hrs</td>
                          <td>{{ item.date_completed }}</td>
                      </tr>
                      {% endfor %}
                  </table>
        </div>

    </div>
</div>
{% endblock %}