{% extends 'base.html' %}

{% block content %}

<div class="container fab-report">
    <div class="row">
         <div class="table-responsive">
             <h3>{{ heading }} </h3>
             <a href="{% url 'qc_joint_list' %}">Total Inspected List</a>
                  <table class="table table-bordered">
                      <tr>
                          <th>Sl.No</th>
                          <th>ISO NO./ LINE NO.</th>
                          <th>Joint No.</th>
                          <th>Fitup Status</th>
                          <th>Fitup Insp. Date</th>
                          <th>Welding Status</th>
                          <th>Welding Insp. Date</th>
                          <th>Radiography Status</th>
                          <th>Radiography Insp. Date</th>
                          <th>Edit</th>
                      </tr>
                      {% for item in joint_list %}
                      <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ item.iso.iso_no }}</td>
                          <td>{{ item.joint.joint_no }}</td>
                          <td>{{ item.fitup_status.name }}</td>
                          <td>{{ item.fitup_inspection_date }}</td>
                          <td>{{ item.welding_status.name }}</td>
                          <td>{{ item.welding_inspection_date }}</td>
                          <td>{{ item.radiography_status }}</td>
                          <td>{{ item.radiography_inspection_date }}</td>
                          <!--<td><a href="{% url 'qc_joint_update' pk=item.pk %}">Edit</a></td>-->
                          <td><a href="{{ item.get_edit_url }}">Edit</a></td>
                      </tr>
                      {% endfor %}
                  </table>
        </div>

    </div>
    <a href="{% url 'qc_pdf' %}" class="btn btn-info">Print to PDF</a>
    <a href="{% url 'qc_csv' %}" class="btn btn-info" style="float: right;">Save to EXEL</a>

</div>
{% endblock %}