{% extends 'base.html' %}

{% block content %}

<div class="container fab-report">
    <div class="row">
         <div class="table-responsive">
             <h3>{{ heading }}</h3><a href="{% url 'joint_list' %}"> (Total List)</a>
                 <a href="{% url 'joint_add' %}" style="float: right;">Add new</a>
             <!--<h3>Joint Status: Total completed: {{ mat_list.total_inch_dia.inch_dia__sum }} Inch Dia</h3>-->
                  <table class="table table-bordered">
                      <tr>
                          <th>Date</th>
                          <th>ISO NO./ LINE NO.</th>
                          <th>Joint No.</th>
                          <th>Size</th>
                          <th>Schedule</th>
                      </tr>
                      {% for item in done_list %}
                      <tr>
                          <td>{{ item.date_completed }}</td>
                          <td><a href="{{ item.get_absolute_url }}">{{ item.iso.iso_no }}</a></td>
                          <td>{{ item.joint_no }}</td>
                          <td>{{ item.size }}</td>
                          <td>{{ item.sch }}</td>
                      </tr>
                      {% endfor %}
                  </table>
        </div>

    </div>
    <a href="{% url 'fab_pdf' %}" class="btn btn-info">Print to PDF</a>
    <a href="{% url 'fab_csv' %}" class="btn btn-info" style="float: right;">Save to EXEL</a>

</div>
{% endblock %}