{% extends 'base.html' %}

{% block content %}

<div class="container fab-report">
    <div class="row" style="margin-top:20px; margin-bottom:20px;">
		<form class="search-form">
			<input type="text" class="form-control" id="search-joint" placeholder="Search Joint" name="q" value="{{ request.GET.q }}">
		</form>
	</div>
    <div class="row">
         <div class="table-responsive">
             <h3>Total Joint List</h3>(<a href="{% url 'fitup_list' %}"> Fitup Comleted</a>
             ,<a href="{% url 'welded_list' %}"> Welding Comleted </a>)
                 <a href="{% url 'joint_add' %}" style="float: right;">Add new</a>
             <!--<h3>Total completed: {{ total_inch }} Inch Dia</h3>-->
                  <table class="table table-bordered">
                      <tr>
                          <th>Fitup Date</th>
                          <th>ISO NO./ LINE NO.</th>
                          <th>Joint No.</th>
                          <th>Size</th>
                          <th>Schedule</th>
                          <th>Update Welding</th>
                      </tr>
                      {% for item in total_list %}
                      <tr>
                          <td>{{ item.date_completed }}</td>
                          <td><a href="{{ item.get_absolute_url }}">{{ item.iso.iso_no }}</a></td>
                          <td>{{ item.joint_no }}</td>
                          <td>{{ item.size }}</td>
                          <td>{{ item.sch }}</td>
                          <td><a href="{{ item.get_edit_url }}">Update</a></td>
                      </tr>
                      {% endfor %}
                  </table>
        </div>

    </div>
    <a href="{% url 'fab_pdf' %}" class="btn btn-info">Print to PDF</a>
    <a href="{% url 'fab_csv' %}" class="btn btn-info" style="float: right;">Save to EXEL</a>

</div>
{% endblock %}