{% load static %}
<style>
{% block style %}
 @page { size: A3;
         margin: 1cm;
        }
{% endblock %}
</style>
{% block content %}

<div class="container fab-report">
    <div class="row">
         <div class="table-responsive">
             <h3>Joint Status</h3>
                  <table class="table table-bordered">
                      <tr>
                          <th>Sl.No</th>
                          <th>ISO NO./ LINE NO.</th>
                          <th>Joint No.</th>
                          <th>Size</th>
                          <th>Schedule</th>
                          <th>Welder</th>
                          <th>Fabricator</th>
                          <th>Completed At</th>
                          <th>Jont Status</th>
                          <th>Inspection Date</th>
                      </tr>
                      {% for item in mat_list %}
                      <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ item.iso.iso_no }}</td>
                          <td>{{ item.joint_no }}</td>
                          <td>{{ item.size }}</td>
                          <td>{{ item.sch }}</td>
                          <td>{{ item.welder|title }}</td>
                          <td>{{ item.fabricator|title }}</td>
                          <td>{{ item.date_completed }}</td>
                          <td>{{ item.status }}</td>
                          <td>{{ item.qc_checked }}</td>
                      </tr>
                      {% endfor %}
                  </table>
        </div>

    </div>
</div>
{% endblock %}