{% extends 'base.html' %}
{% block content %}
<div class="container mt-2 mb-3">
         <div class="table-responsive">
            <h3>{{ headline }}</h3>
            <a href="{% url 'employee_list' %}">(Employee List)</a>
                <a href="{% url 'add_roster' %}" style="float: right;">Add New</a>
                  <table class="table table-striped emp-list">
                      <tr>
                          <th>Sl No.</th>
                          <th>Date</th>
                          <th>Full Name</th>
                      </tr>
                      {% for emp in object_list %}
                      <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ emp.timestamp }}</td>
                          <td>{{ emp.employee.first_name }} {{ emp.employee.last_name }} </td>
                      </tr>
                      {% endfor %}
                  </table>

        </div>
    </div>
    <a href="{% url 'emp_pdf' %}" class="btn btn-info">Print to PDF</a>
    <a href="{% url 'emp_csv' %}" class="btn btn-info" style="float: right;">Save to EXEL</a>
</div>


{% endblock %}